# Virtual environment
.venv

# Generated audio
*.wav
*.mp3

# Testing
__pycache__

#models
*.onnx
*.onnx.json

#local files
split_js_file.js
INTEGRATION_INSTRUCTIONS.md
.claude/
REACT_MIGRATION_GUIDE.md

python/

*.bat
